.blog{
    margin: 20px;
    border: 20px solid red;
    box-shadow: 10px 10px 20px blue;
    font-family: 'Courier New', Courier, monospace;
}
.bangla{
    border: 2px solid red;
    height: 60px;
    display: inline-block;
}
.header{
    /* height: 500px;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 200px 100px; */

}